*{
    font-family: sans-serif;
}
body{
    margin:0;
    padding:0;
}

/*  NAVBAR SECTION  */

.nav_offer{
    height:40px;
    letter-spacing: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #a1978c;
    color: white;
    /* background-color: rgb(253, 204, 189); */
}
.nav_offer>h2{
    font-size: 25px;
    margin:0 30px;
}
.nav_menu{
    border-bottom: 2px solid lightgray;
    background-color: white;
    color: grey;
    display: flex;
}
.nav_menu a{
    display: block;
    color:rgb(81, 80, 80);
    text-decoration: none;
}
.nothamb{
    /* border: 1px solid red; */
    height:60px;
    width:85%;
    margin:auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.menu_left{
    /* border:1px solid green; */
    width:40%;
    margin-left:-22%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu_logo{
    /* border:1px solid black; */
    width:12%;
}
.menu_logo img{
    width:100%;
}
.menu_right{
    /* border:1px solid blue; */
    width:20%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav_login:hover,.nav_reg:hover{
    cursor: pointer;
}
.nav_frame>iframe{
    position:fixed;
    top:0;
    width:100%;
    height:110px;
    z-index:100;
}

/*  OFFER BANNER SECTION  */

.land_banner{
    margin-top:120px;
}
.land_banner>div{
    width:95%;
    margin: auto;
    position: relative;
    background-color: rgb(253, 204, 189);
}
.land_banner>div>img{
    /* border:1px solid blue; */
    width:100%;
}
.land_offer{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    text-align: center;
    /* border:1px solid black; */
    width:50%;
    height:90%;
}
.land_offer>img{
    width:100%;
}
/* .land_offer h1, .land_offer h4, .land_offer p{
    border:1px solid blue;
    margin:20px;
} */
.land_offer_btns{
    /* border:1px solid red; */
    width:50%;
    margin: 20px auto;
    display: flex;
    justify-content: space-between;
}
.land_offer_btns>button{
    border:none;
    color: white;
    background-color: black;
    font-size: 15px;
    border-radius: 5px;
    width:45%;
    padding:10px 20px;
    letter-spacing: 2px;
    transition: background-color 1s;
    transition: color 1s;
}
.land_offer_btns>button:hover{
    cursor: pointer;
    color:black;
    background-color: white;
    border: 1px solid black;
}

/*  WINTER REBOOT SECTION  */

.winter_reboot{
    width:98%;
    margin:30px auto;
    background-color: rgb(247, 247, 247);
}
.winter_reboot_info>h1{
    font-size: 45px;
}
.winter_reboot_img{
    width:100%;
}
.winter_reboot_img>img{
    width:100%;
}
.winter_reboot_info{
    margin: auto;
    padding: 20px 0 50px 0;
    width:40%;
    text-align: center;
}
.winter_reboot_info>p{
    line-height: 25px;
}
.winter_reboot_btns{
    /* border:1px solid red; */
    width:70%;
    margin:auto;
    margin-top:30px;
    display: flex;
    justify-content: space-between;
}
.winter_reboot_btns>button{
    border:1px solid black;
    border-radius: 5px;
    background-color: white;
    padding:5px 20px;
    font-size: 15px;
    letter-spacing: 1px;
    transition: background-color 1s;
    transition: color 1s;       
}
.winter_reboot_btns>button:hover{
    cursor: pointer;
    color:white;
    background-color: black;
}

/*  COMFORT SECTION  */

.comfort_section{
    width:95%;
    padding-bottom: 30px;
    margin:auto;
    display: flex;
    justify-content: space-between;
}
.comfort_section img{
    width:100%;
}
.comfort_left,.comfort_right{
    width:49%;
    text-align: center;
}
.comfort_right_info,.comfort_left_info{
    width:95%;
    margin:auto;
    padding: 20px 0;
}
.comfort_right_info>p,.comfort_left_info>p{
    line-height: 25px;
}

/*  8th STREET SECTION  */

.eight_street_section{
    width:98%;
    margin:auto;
    background-color:#d0c9b9;
    padding-bottom: 40px;
}
.eight_street_section img{
    width:100%;
}
.eight_street_info{ 
    width:40%;
    text-align: center;
    margin: 40px auto;
}
.eight_street_info>h1{
    font-size: 37px;
}
.eight_street_info>p{
    line-height: 25px;
}

/* MENS/WOMENS SECTION  */

.sections{
    width:70%;
    margin: 30px auto;
    display: flex;
    justify-content: space-around;
}
.men_section,.women_section{
    position:relative;
}
.men_section>img,.women_section>img{
    width:100%;
}
.men_text,.women_text{
    position: absolute;
    top:50%;
    left:0;
    background-color: white;
    padding:10px 20px;
    transition: background-color 0.5s;
    transition: color 0.5s;
}
.men_text>a,.women_text>a{
    color: black;
}
.men_text:hover,.women_text:hover{
    background-color: black;
    color:white;
    cursor: pointer;
}
.men_text>a:hover,.women_text>a:hover{
    color: white;
}

/* FOOTER SECTION  */

.contacts_sec{
    border-top:1px solid lightgray;
    border-bottom:1px solid lightgray;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.contact{
    display: flex;
    width:40%;
    align-items: center;
    /* border:1px solid red; */
    justify-content: left;
}
.contact>p{
    margin:auto 10px;
}
.newsletter{
    display: flex;
    width:30%;
    align-items: center;
    justify-content: right;
    /* border:1px solid red; */
}
.newsletter>h5{
    margin-right:10px;
}
.footer_bg{
    background-color: rgb(247, 247, 247);
    padding-bottom: 30px;
}
.footer_sec{
    color:rgb(81, 80, 80);
    width:85%;
    margin:auto;
}
.footer_head{
    font-size: 18px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid grey;
}
.footer_head_left{
    width:50%;
    display:flex;
    align-items: center;
    justify-content: space-between;
}
.footer_head_right{
    width:5%;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
}
.footer_details{
    margin-top:20px;
    width:50%;
    display:flex;
    justify-content: space-between;
}
.footer_details>div>p{
    line-height: 12px;
    font-size: 15px;
}
.footer_frame>iframe{
    width:100%;
    height:auto;
    height:400px;
}

@media all and (min-width:701px) and (max-width:1200px){
    .nav_offer{
        display: flex;
        flex-direction: column;
    }
    .menu_logo{
        width:17%;
    }
    .menu_logo img{
        width:100%;
    }
    .menu_left{
        width:35%;
        margin-left:0%;
    }
    .menu_left a:nth-child(5),.menu_left a:nth-child(6){
        display: none;
    }
    .menu_right{
        width:35%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .land_offer_btns{
        width:80%;
        margin: 5px auto;
    }
    .land_offer_btns>button{
        font-size: 12px;
        padding:5px 10px;   
    }
    .winter_reboot_btns{
        width:80%;
    }
    .winter_reboot_btns>button{
        width:45%;
        padding:5px 10px;
        font-size: 12px;     
    }
    .footer_frame>iframe{
        height:70px;
    }
    .footer_bg{
        display: none;
    }
}

@media all and (min-width:300px) and (max-width:700px){
    .nav_offer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .nav_offer>h2{
        font-size: 15px;
    }
    .menu_logo{
        width:20%;
    }
    .menu_logo img{
        width:100%;
    }
    .menu_left{
        width:25%;
        margin-left:0%;
        display: flex;
        flex-direction: column;
        font-size: 12px;
    }
    .menu_left a{
        display: block;
        margin:2px auto;
    }
    .menu_left a:nth-child(3),.menu_left a:nth-child(4),.menu_left a:nth-child(5),.menu_left a:nth-child(6){
        display: none;
    }
    .menu_right{
        width:60%;
        font-size: 12px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .land_offer_btns{
        width:95%;
        margin: 0px auto;
    }
    .land_offer_btns>button{
        font-size: 9px;
        padding:2px 8px;   
    }
    .land_offer>p{
        display: none;
    }
    .winter_reboot_info>h1{
        font-size: 30px;
    }
    .winter_reboot_btns{
        height:100px;
        width:80%;
        display: flex;
        flex-direction: column;
    }
    .winter_reboot_btns>button{
        width:100%;
        padding:5px 10px;
        font-size: 12px;     
    }
    .comfort_section{
        display: flex;
        flex-direction: column;
    }
    .comfort_left,.comfort_right{
        width:100%;
        text-align: center;
    }
    .men_text,.women_text{
        font-size: 12px;
        padding:5px 10px;
    }
    .eight_street_info>h1{
        font-size: 25px;
    }
    .footer_frame>iframe{
        display: none;
    }
}