*{
    margin:0;
    padding:0;
}
body button:hover{
    cursor: pointer;
}
.order_head{
    width:85%;
    display:flex;
    justify-content: space-between;
    margin:20px auto;
    margin-top:120px;
    border-bottom: 1px solid lightgray;
    letter-spacing: 2px;
}
.order_data{
    /* border:1px solid black; */
    width:60%;
    margin:10px auto;
    display: flex;
    justify-content: space-between;
}
.order-left{
    width:100%;
}
.o-search{
    /* border:1px solid blue; */
    width:30%;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid black;
    align-items: center;
}
.o-search>input{
    padding:8px 5px;
    font-size: 15px;
    width:85%;
    border: none;
}
.o-search>input:focus{
    outline: none;
}

.ordercont {
    margin:auto;
    width: 100%;
}
.ordercont>div {
    display: flex;
    margin: 20px auto;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.ordercont>div>div:nth-child(1) {
    width: 50%;
    height: 250px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.ordercont>div>div:nth-child(1)>img {
    width: 100%;
    height: 250px;
}

.ordercont>div>div:nth-child(1)>img:hover {
    cursor: zoom-in;
}

.ordercont>div>div:nth-child(2) {
    /* border:1px solid black; */
    margin:10px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 50px;
}
.ordercont>div>div:nth-child(2)>h3{
    margin-bottom:10px;
}
.ordercont>div>div:nth-child(2)>p {
    margin-bottom:2px;
}

.ordercont>div>div:nth-child(2)>p~h3 {
    margin-top:10px;
}
.order-empty {
    width: 50%;
    display: flex;
    justify-content: center;
    margin: 20px auto;
}
.order-empty img{
    width: 70%;
}

.hide-div {
    display: none;
}

.ordercont img {
    object-fit: contain;
}

@media all and (min-width:300px) and (max-width:700px){
    .order_head{
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .o-search{
        border-top: 1px solid gray;
        width: 85%;
        margin: auto;
    }
    .order_data{
        width: 72%;
    }
    .ordercont>div>div:nth-child(2) {
        width:40%;
        padding-left: 25px;
    }
}