.reg_head{
    width:85%;
    margin:auto;
    letter-spacing: 2px;
}
.reg_opt{
    width:85%;
    border-top:1px solid lightgrey;
    border-bottom:1px solid lightgrey;
    margin:auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding:20px auto;
}
.default-a,.default-b{
    padding:18px 15px;
    border:none;
    background-color: white;
    margin:0 2px;
    color: grey;
    font-size: 15px;
}
.default-a:hover,.default-b:hover{
    cursor: pointer;
}
.click_effect{
    border-bottom:2px solid red;
    color:black;
}
.reg_user,.reg_admin{
    width:90%;
    margin:20px auto;
}
.user_reg_form,.admin_reg_form{
    width:30%;
    margin: 20px auto;
    display:flex;
    flex-direction: column;
}
.user_reg_form label,.admin_reg_form label{
    display:inline-block;
    margin-top:15px;
    margin-left:15px;
}
.user_reg_form input,.admin_reg_form input{
    display:block;
    margin-top:15px;
    margin-left:17px;
    padding: 8px 0;
    width:90%;
    box-sizing: border-box;
}
.user_reg_form input[type="submit"],.admin_reg_form input[type="submit"] {
    color:white;
    margin-top:25px;
    background-color: rgb(91, 89, 89);
    border:1px solid rgb(100, 99, 99);
    border-radius: 5px;
    font-size: 16px;
}
.form_hide{
    display: none;
}